*{
    background-color: #5d6e80;
}
body{
    background-color: #FFEDDF ;
    font-family: 'Courier New', Courier, monospace;
    padding: 0;
    margin: 0;
    height: 100%;
}
header, footer{
    height: auto;
    width: 100%;
    background-color: #5d6e80;
}
footer{
    font-size: small;
    margin-top: 100px;
}
    h1{
        font-size: xx-large;
        color: #ff9442;
        padding-left: 50px;
    }
    h1.naam{
        font-size: 80px;
    }
    ul a{
        color: #FFEDDF;
        text-decoration: none;
    }
        ul a:hover{
            color: #ff9442;
            text-decoration: underline;
        }
        li{
        display: inline-block;
        height: 25px;
        width: 100px;
        background-color: #5d6e80;
        text-align: left;
        padding: 3px 30px;
        }
p{
    width: 900px;
    padding-left: 100px;
}
#hoi{
    color: #000000 ;
    font-size: xx-large;
}
#naam{
    color: #ff9442 ;
    font-weight: bolder;
}
h2{
    padding-left: 50px;
}
table{
    padding-left: 100px;
    width: 80%;
}
th{
    text-align: left;
    background-color:  #ffbb8d ;
}
td{
    padding: 10px;
}
.functie{
    font-weight: bolder;
    font-size: large;
    width: 200px;
}
input[type="text"], input[type="email"], textarea{
    display: block;
    margin: 15px 100px;
    width: 400px;
    box-sizing: border-box;
    border: #5d6e80;
    border-style: solid;
}
textarea{
    height: 150px;
}
button{
    margin: 15px 200px;
    width: 200px;
    box-sizing: border-box;
}
button:hover{
    background-color: #ffbb8d;
}
button:active{
    background-color: #ff9442;
}
a{
    color: #000000;
    text-decoration: none;
}
a:hover{
    font-weight: bold;
}